---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/octocat
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1433059602'
      Last-Modified:
      - Fri, 22 May 2015 18:59:27 GMT
      Etag:
      - W/"55dcfc5ebcb07b93007d5bdb13d519ec"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"login":"octocat","id":583231,"avatar_url":"https://avatars.githubusercontent.com/u/583231?v=3","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/following{/other_user}","gists_url":"https://api.github.com/users/octocat/gists{/gist_id}","starred_url":"https://api.github.com/users/octocat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octocat/subscriptions","organizations_url":"https://api.github.com/users/octocat/orgs","repos_url":"https://api.github.com/users/octocat/repos","events_url":"https://api.github.com/users/octocat/events{/privacy}","received_events_url":"https://api.github.com/users/octocat/received_events","type":"User","site_admin":false,"name":"The
        Octocat","company":"GitHub","blog":"http://www.github.com/blog","location":"San
        Francisco","email":"octocat@github.com","hireable":false,"bio":null,"public_repos":5,"public_gists":8,"followers":1008,"following":6,"created_at":"2011-01-25T18:44:36Z","updated_at":"2015-05-22T18:59:27Z"}'
  recorded_at: Sun, 31 May 2015 07:16:59 GMT
recorded_with: VCR 2.9.3
