---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/jim/events/public
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1425925234'
      Last-Modified:
      - Mon, 02 Mar 2015 08:32:10 GMT
      Etag:
      - W/"3fe5821b1814b2c76c9491a6ee1c7fad"
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"id":"2617616557","type":"PushEvent","actor":{"id":3331,"login":"jim","gravatar_id":"","url":"https://api.github.com/users/jim","avatar_url":"https://avatars.githubusercontent.com/u/3331?"},"repo":{"id":152987,"name":"jim/carmen","url":"https://api.github.com/repos/jim/carmen"},"payload":{"push_id":589195366,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"b59061cce1233f53b2a768c2a7a95f7dd331295e","before":"4cbf9969f4f5714addb51f8795881be630665b25","commits":[{"sha":"b59061cce1233f53b2a768c2a7a95f7dd331295e","author":{"email":"jim@autonomousmachine.com","name":"Jim
        Benton"},"message":"Update CHANGELOG.md","distinct":true,"url":"https://api.github.com/repos/jim/carmen/commits/b59061cce1233f53b2a768c2a7a95f7dd331295e"}]},"public":true,"created_at":"2015-03-02T16:32:10Z"},{"id":"2617612796","type":"IssueCommentEvent","actor":{"id":3331,"login":"jim","gravatar_id":"","url":"https://api.github.com/users/jim","avatar_url":"https://avatars.githubusercontent.com/u/3331?"},"repo":{"id":152987,"name":"jim/carmen","url":"https://api.github.com/repos/jim/carmen"},"payload":{"action":"created","issue":{"url":"https://api.github.com/repos/jim/carmen/issues/166","labels_url":"https://api.github.com/repos/jim/carmen/issues/166/labels{/name}","comments_url":"https://api.github.com/repos/jim/carmen/issues/166/comments","events_url":"https://api.github.com/repos/jim/carmen/issues/166/events","html_url":"https://github.com/jim/carmen/pull/166","id":59132210,"number":166,"title":"Add
        local files for Bangla language (World country list, Divisions and Districts
        of BD)","user":{"login":"tauhidul35","id":5323801,"avatar_url":"https://avatars.githubusercontent.com/u/5323801?v=3","gravatar_id":"","url":"https://api.github.com/users/tauhidul35","html_url":"https://github.com/tauhidul35","followers_url":"https://api.github.com/users/tauhidul35/followers","following_url":"https://api.github.com/users/tauhidul35/following{/other_user}","gists_url":"https://api.github.com/users/tauhidul35/gists{/gist_id}","starred_url":"https://api.github.com/users/tauhidul35/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tauhidul35/subscriptions","organizations_url":"https://api.github.com/users/tauhidul35/orgs","repos_url":"https://api.github.com/users/tauhidul35/repos","events_url":"https://api.github.com/users/tauhidul35/events{/privacy}","received_events_url":"https://api.github.com/users/tauhidul35/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"milestone":null,"comments":1,"created_at":"2015-02-26T19:52:19Z","updated_at":"2015-03-02T16:30:54Z","closed_at":"2015-03-02T16:30:44Z","pull_request":{"url":"https://api.github.com/repos/jim/carmen/pulls/166","html_url":"https://github.com/jim/carmen/pull/166","diff_url":"https://github.com/jim/carmen/pull/166.diff","patch_url":"https://github.com/jim/carmen/pull/166.patch"},"body":"I
        have added Country list, Divisions of Bangladesh and Districts of Bangladesh.
        I have followed the instruction of \"Contributing to Carmen''s Data\". Please
        marge the pull request."},"comment":{"url":"https://api.github.com/repos/jim/carmen/issues/comments/76744909","html_url":"https://github.com/jim/carmen/pull/166#issuecomment-76744909","issue_url":"https://api.github.com/repos/jim/carmen/issues/166","id":76744909,"user":{"login":"jim","id":3331,"avatar_url":"https://avatars.githubusercontent.com/u/3331?v=3","gravatar_id":"","url":"https://api.github.com/users/jim","html_url":"https://github.com/jim","followers_url":"https://api.github.com/users/jim/followers","following_url":"https://api.github.com/users/jim/following{/other_user}","gists_url":"https://api.github.com/users/jim/gists{/gist_id}","starred_url":"https://api.github.com/users/j[...]
